# Ignorando gotron
.gotron
gotron-builder.exe
dist

# Ignorando módulos
ui/node_modules
ui/UsersUsuarioAppDataRoamingnpm

# Ignorando módulos de Vue
ui/vue/build
ui/vue/node_modules
ui/vue/UsersUsuarioAppDataRoamingnpm

# Ignorando keys
key/key.go
key

# Ignorando Assets (Binary files)
Assets

# Otras cosas
data 
asd.html